.block_instructor_profile .content {
  text-align: center;
}

.block_instructor_profile .content img.userpicture {
  width: 100px;
  height: 100px;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin: 5px auto;
}

.block_instructor_profile .content p {
  margin: 5px;
  text-align: left;
}

.block_instructor_profile .content a.edit {
   display: inline-block;
   padding: 2px 10px;
   border: 1px solid #bbbbbb;
   color: #2e1352;
   cursor: pointer;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -webkit-appearance: none;
   margin-bottom: 5px;
}

.block_instructor_profile .content a.edit:hover {
   background-color: #dddddd;
   color: #000000;
   cursor: pointer;
   text-decoration: none;
}
